#header, #footer {
text-align: center;
}

#footer{
    clear: both;
    padding-top: 5px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(227, 226, 226);
}
div{
    display: blolck;
}
* {
    box-sizing: border-box;
}

#nav{
    background-color: grey;
    overflow: hidden;
}

#nav a{
    color: white;
    display: block;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 14px 16px;   
}

#nav a:hover{
    background-color: white;
    color: grey;
}

#left-column{
    float: left;
    width: 70%;
}

#h2 {
    margin: 0px
}

#h5 {
    background-color: ;
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.card {
    background-color: skyblue;
    padding: 20px;
    margin-top: 20px;
}

#right-column{
    width:30%;
    float:right;
    padding-left: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px){
    #left-column, #rigtht-column{
        float: none;
        width: 100%;
        padding-left: 0px;
    }
}
    


