#header{
text-align: center;
}

#nav{
    background-color: grey;
    overflow: hidden;
}

#nav a{
    color: white;
    display: block;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 14px 16px;   
}

#nav a:hover{
    background-color: white;
    color: grey;
}
